<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://banphukienlaptop-001-site1.htempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8036.site4now.net:8172/msdeploy.axd?site=banphukienlaptop-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>banphukienlaptop-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>banphukienlaptop-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="QuanLyBanHangConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8006.site4now.net;Initial Catalog=db_aa20d9_banphukienlaptop;Persist Security Info=True;User ID=db_aa20d9_banphukienlaptop_admin;Password=hainam123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=HOGIANGHAINAMIT;Initial Catalog=QuanLyBanHang;Integrated Security=True;Encrypt=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QuanLyBanHangConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=HOGIANGHAINAMIT;Initial Catalog=QuanLyBanHang;Integrated Security=True;Encrypt=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QuanLyBanHangConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=SQL8006.site4now.net;Initial Catalog=db_aa20d9_banphukienlaptop;Persist Security Info=True;User ID=db_aa20d9_banphukienlaptop_admin;Password=hainam123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>